body {background-color: #ff0073; }

div.card>img {
    background-color: dimgray;
    padding: 0.4rem;
}

div.navbar {
    color: rgb(4, 238, 238);
}

.menu-bar {
    background-image: linear-gradient(-90deg, #b700ff, #ff00006b);
}
